<div class="container">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1>Contact Us Form</h1>
                    <hr />
                    <ngb-alert [dismissible]="true" 
                    *ngFor="let message of messages; let i = index" [type]="message.type"
                    (closed)="closeMessage(i)"
                    >
                        <p>
                           <b>{{ message.message }}</b>
                        </p>   
                    </ngb-alert>
                    <form [formGroup]="formGroup">
                        <div class="mb-4">
                            <label class="mb-4">Full Name</label><br />
                            <input required class="form-control form-control-lg" formControlName="fullName" />
                            <p *ngIf="formSubmitted && getControls('fullName').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div class="mb-4">
                            <label class="mb-4">Phone Number</label><br />
                            <input required class="form-control form-control-lg" formControlName="phoneNumber" />
                            <p *ngIf="formSubmitted && getControls('phoneNumber').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div class="mb-4">
                            <label class="mb-4">Email address</label><br />
            
                            <input required type="email" class="form-control form-control-lg" formControlName="email" />
                            <p *ngIf="formSubmitted && getControls('email').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('email').hasError('email')" class="error">
                                <small> * invalid email</small>
                            </p>
                        </div>
                        <div class="mb-4">
                            <label class="mb-4">Message</label><br />
            
                            <textarea equired type="text" class="form-control form-control-lg" formControlName="message">
    
                            </textarea>
                            <p *ngIf="formSubmitted && getControls('message').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div class="mb-4">
                            <Button type="submit" class="btn btn-primary btn-lg btn-block"  [disabled]="disable"
                            (click)="Submit()"
                        >
                        <div>
                            <span *ngIf="disable">
                                <i class='fa fa-spinner fa-spin fa-3x fa-fw'></i> 
                            </span>
                            <span *ngIf="!disable">
                                Send
                            </span>
                        </div>
                    </Button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12"></div>
    </div>
</div>