    <div class="row top">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <p>
                        <span>
                            <Button class="btn btn-secondary" (click)="navigate()">
                                <span class="mr-4">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="ml-4">
                                    Back to list
                                </span>
                            </Button>
                        </span>
                    </p>
                    <p>
                        <span><h1 class="topHeader">{{ isOnEditing ? 'Update' : 'Create new' }} Enrollment request</h1></span>
                    </p>
                    <p><span><hr /></span></p>
                    <form [formGroup]="formGroup">
                        <div class="mb-4">
                            <label>Course</label>
                            <ejs-dropdownlist id='ddlelement' [dataSource]='service.loadedCourses' 
                                formControlName="course_id" [allowFiltering]="true" placeholder="-- select course here --"
                                [fields]="fields" cssClass="e-outline">
                            </ejs-dropdownlist>

                            <!-- <select class="form-control form-control-lg" formControlName="course_id">
                                <option *ngFor="let course of service.loadedCourses; let i as index" [value]="course.id">
                                    {{ course.name | titlecase }}
                                </option>
                            </select> -->
                            <p *ngIf="formSubmitted && getControls('course_id').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <hr class="mb-4" />
                        <h1>Add trainee's</h1>
                        <p>search the trainee by their email address ...</p>
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-lg-10">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email address" formControlName="email" />
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2">
                                    <button class="searchBtn btn btn-primary btn-block btn-lg" [disabled]="isSearching" type="button"
                                    style="width: 100% !important;" (click)="search()">
                                    <span *ngIf="isSearching">
                                        <i class='fa fa-spinner fa-spin fa-3x fa-fw' 
                                        style="margin-right: 10px !important; font-size: 20px !important;" aria-hidden="true"></i>
                                    </span>
                                    <span *ngIf="!isSearching">
                                        search
                                    </span>
                                </button>
                                </div>
                            </div>
                            <p *ngIf="getControls('email').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="getControls('email').hasError('email')" class="error">
                                <small> * invalid email</small>
                            </p>
                        </div>
                        <!-- <p *ngIf="isSearching" style="text-align: center !important;">
                            searching ...
                        </p> -->
                        <div class="mb-4" *ngIf="studentDetail">
                            <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-1 col-sm-12 col-lg-1">
                                        <img [src]="studentDetail?.avatar_url" style="width: 42px; height: 42px;border-radius: 50%;margin-right: 5px;" />
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-lg-5 nameLable">
                                        {{ studentDetail?.short_name | titlecase }}
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-lg-4 nameLable">
                                        {{ studentDetail?.email }}
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-lg-2">
                                        <Button class="btn btn-success btn-block" style="width: 100%;" (click)="addStudent(studentDetail)">
                                            <span>
                                                <i class="fa fa-plus mr-4" aria-hidden="true"></i>
                                            </span>
                                            <span>
                                                Add
                                            </span>
                                        </Button>
                                    </div>
                                </div>  
                            </li>
                            </ul>
                        </div>    
                        <hr />
                        <div class="mb-4">
                            <ul class="list-group" *ngIf="students.length">
                                <li class="list-group-item" *ngFor="let student of students; let i = index">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-lg-2" style="text-align: center !important;">
                                            <img [src]="student?.avatar_url" style="width: 42px; height: 42px;border-radius: 50%;margin-right: 5px;" />
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-lg-6 nameLable">
                                            <span>
                                                {{ student?.name | titlecase }}
                                            </span>
                                            <br />
                                            <span class="emailField">
                                                <small class="emailField">({{ student?.email }})</small>
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-lg-3 nameLable">
                                            <span title={{student.message}} class="enrollmentStatus" [ngClass]="
                                                student?.status == 'pending' ? 'pendingStatus' : 
                                                student?.status == 'success' ? 'successStatus': 'failedStatus'">
                                                    {{ student?.status }}
                                            </span>
                                        </div>
                                        <!-- <div class="col-md-4 col-sm-12 col-lg-4 nameLable">
                                            {{ student?.email }}
                                        </div> -->
                                        <div class="col-md-1 col-sm-12 col-lg-1" style="text-align: center !important">
                                            <span (click)="removeStudent(i);">
                                                <i class="fa fa-times" aria-hidden="true" style="margin-top: 14px !important;"></i>
                                            </span>
                                            <!-- <mat-icon class="removeButton"  (click)="removeStudent(i);">delete_forever</mat-icon> -->
                                        </div>
                                    </div> 
                                    
                                </li>
                              </ul>
                              <p *ngIf="!students.length" style="
                              text-align: center;
                          ">-- no student added --</p>
                              <p *ngIf="formSubmitted && !students.length" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <!-- <div class="mb-4">
                            <label>Date</label>
                            <input type="date" class="form-control form-control-lg" formControlName="date" />
                            <p *ngIf="formSubmitted && getControls('date').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> -->
                        <div class="mb-4">
                            <label>Remarks</label>
                            <textarea rows="5" class="form-control form-control-lg" 
                            placeholder="Write your remarks here ..." formControlName="remark"></textarea>
                        </div>

                        <div class="mb-4 row">
                            <div class="col-sm-12" [ngClass]="traineelist ? 'col-md-11 col-lg-11' : 'col-md-12 col-lg-12'">
                                <label>please attache the trainee list here.</label>
                                <input type="file" class="form-control form-control-lg" (change)="onFileUpload($event, false)" 
                                formControlName="traineelist" accept="application/pdf" />
                            </div>
                            <div class="col-sm-12 col-md-1 col-lg-1" *ngIf="traineelist">
                                <label></label>
                                <span (click)="removeAttatchment(false)" title="remove attachment">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p *ngIf="formSubmitted && getControls('traineelist').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="traineelistErrorMessage" class="fileErrorMessage">
                                <small>
                                    {{ traineelistErrorMessage }}
                                </small>
                            </p>

                            <p *ngIf="isOnEditing" style="margin-top: 15px !important;">
                                <span class="mr-4" style="margin-right: 25px !important;">
                                    <button type="button" class="btn btn-light mr-4" (click)="openAttachment('traineeList')">
                                        view trainee's list
                                    </button>
                                </span>
                                
                                <span *ngIf="showTraineeListDeleteSpinner">
                                    <i class='fa fa-spinner fa-spin fa-3x fa-fw mr-2' 
                                    style="margin-right: 10px !important; font-size: 19px !important;" aria-hidden="true"></i>deleting ...
                                </span>
                                <span class="ml-4" *ngIf="!showTraineeListDeleteSpinner" (click)="deleteAttatchment('traineelist')">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div> 
                        <div class="mb-4 row">
                            <div class="col-sm-12" [ngClass]="bankSlip ? 'col-md-11 col-lg-11' : 'col-md-12 col-lg-12'">
                                <label>please attache the bank slip here.</label>
                                <input type="file" class="form-control form-control-lg" (change)="onFileUpload($event,true)" 
                                formControlName="bankSlip"
                                accept="application/pdf" />
                            </div>
                            <div class="col-sm-12 col-md-1 col-lg-1" *ngIf="bankSlip">
                                <label></label>
                                <span (click)="removeAttatchment(true)" title="remove attachment">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p *ngIf="formSubmitted && getControls('bankSlip').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="bankSlipErrorMessage" class="fileErrorMessage">
                                <small>
                                    {{ bankSlipErrorMessage }}
                                </small>
                            </p>
                    
                            <p *ngIf="isOnEditing" style="margin-top: 15px !important;">
                                <span class="mr-4" style="margin-right: 25px !important;">
                                    <button type="button" class="btn btn-light mr-4" (click)="openAttachment('bankSlip')">
                                        view bankSlip
                                    </button>
                                </span>
                                
                                <span *ngIf="showbBankslipDeleteSpinner">
                                    <i class='fa fa-spinner fa-spin fa-3x fa-fw mr-2' 
                                    style="margin-right: 10px !important; font-size: 19px !important;" aria-hidden="true"></i>deleting ...
                                </span>
                                <span class="ml-4" *ngIf="!showbBankslipDeleteSpinner" (click)="deleteAttatchment('bankSlip')">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div> 
                        <div class="mb-4 row">
                            <Button type="submit" class="btn btn-primary btn-lg btn-block" (click)="Submit()" [disabled]="disable">
                                <span *ngIf="showSpinner">
                                    <i class='fa fa-spinner fa-spin fa-3x fa-fw' 
                                    style="margin-right: 10px !important; font-size: 24px !important;" aria-hidden="true"></i>
                                </span>
                                <span *ngIf="!showSpinner">
                                    {{ isOnEditing ? 'Update request' : 'Submit request'}}
                                </span>
                            </Button>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
    </div>