.gray{
    color: gray !important;
    font-weight: lighter;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
    font-size: 17px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}

.top {
    margin-top: 102px !important;
}

.nameLable{
    text-align: center !important;
    font-size: 20px !important;
    padding: 8px !important;
    color: #160c0c !important;
}

.mat-icon {
    margin-top: 10px !important;
    cursor: pointer !important;
}

.fa-trash-o, .fa-times {
    margin-top: 44px;
    font-size: 22px !important;
    color: red !important;
    font-weight: 200 !important;
    cursor: pointer !important;
}

.error {
    color: red !important;
}

.emailField {
    font-size: 15px !important;
    color: gray !important;

}

.enrollmentStatus {
    color: white !important;
    padding: 6px 20px 8px 20px !important;
    width: 313px !important;
    text-transform: uppercase !important;
    border-radius: 5px !important;
    font-size: 15px !important;
}

.pendingStatus {
    background-color: #1a73e8 !important;
}

.successStatus {
    background-color: green !important;
}
.failedStatus {
    background-color: red !important;
}

.topHeader {
    font-weight: lighter !important;
}

@media only screen and (max-width: 760px) {
    .searchBtn {
        margin-top: 20px !important;
    }
}

.fileErrorMessage {
    color: red !important;
    margin-top: 10px !important;
}