.requestCourseName {
    font-size: 20px !important;
    font-weight: lighter !important;
}

.requestInstitutionName {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.requestStatus {
    float: right !important;
    padding: 10px !important;
    font-size: 18px !important;
    color: white !important;
    /* border-radius: 4px !important; */
}

.lists {
    cursor: pointer !important;
}

.requestDetailHeader{
    font-size: 17px !important;
    margin-left: 17px !important;
}

.btn {
    margin-right: 20px !important;
}

.card {
    margin-top: 48px !important;
}

.remarkBox {
    border: gray 1px solid !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin-left: 17px !important;

}

.enrollmentStatus {
    color: white !important;
    padding: 6px 20px 8px 20px !important;
    width: 313px !important;
    text-transform: uppercase !important;
    border-radius: 5px !important;
    font-size: 15px !important;
}

.pendingStatus {
    background-color: #1a73e8 !important;
}

.successStatus {
    background-color: green !important;
}
.failedStatus {
    background-color: red !important;
}

small {
    font-size: 15px !important;
    color: gray !important;

}

.topHeader {
    font-weight: lighter !important;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
    font-size: 17px !important;
}

.top {
    margin-top: 76px !important;
}