<div class="row top">
    <div class="col-sm-12 col-md-2 col-lg-2"></div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="card-body">
                <p>
                    <span><h1 class="topHeader">My Enrollment request</h1></span>
                </p>
                <p><span><hr /></span></p>
                <div>
                    <label class="mb-4">Filter requests by date</label>
                    <p>
                        <ejs-daterangepicker cssClass="e-outline" 
                        placeholder="-- select date range to filter requests --"
                        (change)="filterRequests($event)"></ejs-daterangepicker>
                    </p>
                    <p><span><hr /></span></p>
                </div>

                <p>
                    <button class="btn btn-success" (click)="navigate()">
                        <span>
                            <i class="fa fa-plus icons" aria-hidden="true"></i>
                        </span>
                        <span>New Request</span>
                    </button>
                </p>
                <div class="mb-4" *ngIf="myrequest.length">
                    <ul class="list-group">
                        <li class="list-group-item lists" *ngFor="let request of myrequest; let i = index">
                            <div>
                                <p class="requestCourseName">{{ request.course_name | titlecase }}</p>
                                <!-- <p class="requestInstitutionName">{{ request?.institution_name }}</p> -->
                                <p class="courseFooter">
                                    <span class="requestDate"><b>({{ request.createdAt | date }})</b></span>
                                    <span class="requestStatus" [ngClass]="
                                    request?.status == 'pending' ? 'pendingStatus' : 
                                    request?.status == 'Approved' ? 'successStatus': 
                                    request?.status == 'Enrolled' ? 'successStatus' : 'failedStatus'"

                                    >{{ request.status }}</span>
                                </p>
                            </div>  
                            <div class="editDeleteButtonsContainer">
                                <p>
                                    <span class="mr-4" title="edit request" (click)="editRequest(request)">
                                        <i class="fa fa-pencil icons" aria-hidden="true"></i>
                                    </span>
                                    <span class="ml-4" title="delete request" (click)="deleteRequest(request,i)">
                                        <i class="fa fa-trash icons" aria-hidden="true"></i>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div> 
                <div class="mb-4" *ngIf="!myrequest.length">
                    <ul class="list-group">
                        <li class="list-group-item lists" style="text-align: center !important;"> -- No request found --</li>
                    </ul>    
                </div>  
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2"></div>
</div>