<ejs-grid #grid
    gridLines="Both"
    [dataSource]='data' [allowFiltering]="true" [allowPaging]="true" 
    [allowSorting]="true" [allowFiltering]="true" [toolbar]="toolbar" 
    [searchSettings]="searchOptions" [allowReordering]="true" [allowResizing]="true"
     pageSettings="pageSettings">
    <e-columns>
        <e-column   *ngFor="let columen of columens;"
        [field]='columen?.field' [headerText]='columen?.headerText' 
        textAlign='left' [width]='columen?.width' [format]='columen?.format'></e-column>
</e-columns>
</ejs-grid>

<div #container class="root-container"></div>